* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans HK', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  border: 1px solid blue;
  border-radius: .2rem;
  padding: .3rem;
  color: black;
}

button {
  display: inline-block;
  padding: 0.5em 1rem;
  border: 0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-weight: bold;
  color: indigo;
  text-align:center;
  transition: all 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus
{
  display: inline-block;
  color: rgb(112, 25, 175);
  border-color:indigo;
}

button:active {
  display: inline-block;
  background-color: rgb(186, 133, 224);
  border: none;
}



.page-wrapper {
  display: flex;
}

.plus-icon {
  font-size: 1rem;
}
.sidebar-wrapper {
  width: 15%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(213, 185, 233);
}
.sidebar__profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid lightgray;
  width: 95%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.sidebar__profile-avatar-img {
  width: 7rem;
  padding-bottom: 0.5rem;
  border-radius: 5rem;
}

.sidebar__add-new-task {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.sidebar__add-new-task__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.sidebar__categories__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar__categories__title-icon {
  display: flex;
  align-items: center;
  
}

.categories-icon {
  margin-right: .5rem;
  width: 100%;
  color: indigo;
}
.sidebar__categories__folders {
  
  width: 100%;
}
.sidebar__categories__folders-each {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem .5rem 1rem;  
  border: .5px solid indigo;
}
.sidebar__categories__folders-each-amount-tasks{
 font-size: .8rem;
 padding-right: 1rem;
}
.sidebar__categories__folders-each-title {
 
}

.fahome {
  position: relative;
  right: 5px;
}

.body-wrapper {
  width: 85%;
}
.body__date-organizer{
  padding-top: 5rem;
  padding-left: 5rem;
}
.body__date-organizer-each {
  display: flex;
  Justify-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
.body__date-organizer__title-icon-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.body__date-organizer-each-title {
  padding-right: 2rem;
}

.task-card-wrapper {
  padding-bottom: 1rem;
}
.task-card {
  border: 1px solid lightgray;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 600px;
  display: grid;
  grid-template-columns: .15fr .3fr 1fr .15fr .15fr;
  grid-template-rows: 1.3fr 1fr 1fr;
  grid-template-areas: "check title description edit delete" 
  "check category description edit delete" 
  "check time description edit delete" ;
}
.task-card__checkbox {
  grid-area: check;
  justify-self: center;
  align-self: center;
}
.task-card__title {
  grid-area: title;

}
.task-card__category {
  grid-area: category;
  font-size: .8rem;
}
.task-card__time {
  grid-area: time;
  font-size: .8rem;
}
.task-card__description {
  grid-area: description;
  font-size: .8rem;
  justify-self: center;
  align-self: center;
  width: 80%;
}
.task-card__edit {
  grid-area: edit;
  justify-self: center;
  align-self: center;
  
}
.task-card__delete {
  grid-area: delete;
  justify-self: center;
  align-self: center;
}